.register-container {
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--primary-gray);

}

.register-secondery-container {
  margin-top: 5%;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}



.register-content-container input {
  flex: 1;
  min-width: 40%;
  margin: 20px 10px 0px 0px;
  border-radius: 6px;
  text-align: right;
  padding: 8px;
}
.register-content-container select {
  flex: 1;
  min-width: 30%;
  margin: 3px;
  border-radius: 6px;
  margin-top: 20px;
  text-align: center;
}

.submit-button {
  flex:1;
  margin-top: 20px;
  user-select: none;
  cursor: pointer;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  background-color: var(--primary-dark-blue) ;
  margin-bottom: 20px;
  color: transparent;
}
.submit-button:hover{
  opacity: 0.7;
  transition: all 350ms ease-in-out;
}

.submit-button span{
  color: white;
}

.register-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
flex-direction: row-reverse;
}