@import url("../../core.css");


.products-page-content-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.companies-users {
    text-align: center;
}

.products-page-content-container select {
    margin: 3px;
    border-radius: 6px;
    margin-top: 12px;
    text-align: center;
  }