

.login-content-container input {
  flex: 1;
  min-width: 100%;
  margin: 20px 10px 0px 0px;
  border-radius: 6px;
  text-align: right;
  padding: 8px;
}

.login-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}


.login-container > .whiteboard-container{
  width: var(--col-4) ;
}
