.user-container {
    display: flex;
    border-bottom: 6px solid var(--primary-gray);
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    margin: 15px 0px;
    color: var(--primary-dark-blue);
}

.user-container:hover {
    text-decoration: underline;
}

.user-actions {
    display: flex;
    gap: 14px;
    font-size: 28px;
    cursor: pointer;
    flex-direction: row-reverse;
    align-items: center;
}

.user-name
,.warehouse {
    flex-direction: row-reverse;
    color: var(--primary-dark-blue);
    flex: 1;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
}

  
.user-details {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .user-name-warehouse {
    display: flex;
    align-items: center;
    gap: 28px;
  }
  