.header {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 5px; */
  text-align: center;
}

.body {
  margin: 0px 20px;
}

.user-details {
  margin-left: auto;
  text-align: right;
}

.user-details>span {
  margin-bottom: 5px;
  padding-right: 20px;
  font-size: 16px;
}

.user-details>div:first-child {
  font-weight: bold;
  font-size: 22px;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
}

.product-table th {
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  text-align: center;
}

.product-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: right;
  font-weight: bold;
  font-size: 14px;

}

.products h2 {
  text-align: center;
  font-size: 24px;

}

.header img {
  width: 200px;
  height: auto;
}


th:nth-child(3),
td:nth-child(3) {
  max-width: 20px;
  word-wrap: break-word;
}
th:nth-child(1),
td:nth-child(1){
  max-width: 10px;
  word-wrap: break-word;
}

.additional-section{
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}