.admin-list {
  padding: 10px;
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 0px 10px rgb(30, 88, 136, 0.3);
}

.admin-list-container {
  text-align: end;
  margin: 15px 0px;
  margin-bottom: 20px;
}
.admin-list-container h2 {
  color: var(--primary-dark-blue);
  margin-bottom: 5px;
}

.user-container, .product-container, .company-container {
  display: flex;
  border-bottom: 6px solid var(--primary-gray);
  padding-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  margin: 15px 0px;
  color: var(--primary-dark-blue);
}

.user-container:hover ,.product-container:hover, .company-container:hover{
  text-decoration: underline;
}

.user-actions ,.product-actions ,.company-actions{
  display: flex;
  gap: 14px;
  font-size: 28px;
  cursor: pointer;
  flex-direction: row-reverse;
  align-items: center;
}

.user-name
,.warehouse
,.product-name
,.serial
,.company-name
,.id {
  flex-direction: row-reverse;
  color: var(--primary-dark-blue);
  flex: 1;
  font-weight: bold;
  white-space: nowrap;
  direction: rtl;

}


.user-details,.product-details,.company-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

  
}

.user-name-warehouse {
  display: flex;
  align-items: center;
  gap: 28px;
}

.product-details {
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-color: transparent transparent;
  max-width: 85%;
}

.product-details::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.product-details::-webkit-scrollbar-track {
  background-color: transparent;
}

.product-details::-webkit-scrollbar-thumb {
  background-color: var(--primary-gray);
  border-radius: 3px;
  border: 1px solid #ccc;
}

.product-details::-webkit-scrollbar-corner {
  background-color: transparent;
}

