@import url("../../core.css");

.users-page-content-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.top-list-container {
    display: flex;
    width: 740px;
    position: relative;
    justify-content: center;
    align-items: center;
}

.companies-users {
    text-align: center;
}