@import url("../../core.css");

.custom-radio-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px dashed var(--primary-dark-blue);
  border-radius: 9px;
  user-select: none;
  padding: 10px 0px;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-top: 10px;
  direction: ltr;

}

.custom-radio {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  justify-content: start;
  padding: 10px 0px;
}

.custom-radio-label {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 0px 5px;
  width: 100%;
}

.custom-radio-input {
  display: none;
}

.custom-radio-icon > svg {
  margin-left: 5px;
  margin-top: 6px;
  cursor: pointer;
}
