@import url("../../core.css");

.custom-radio-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px dashed var(--primary-dark-blue);
  border-radius: 9px;
  user-select: none;
  padding: 10px 0px;
  align-items: center;
}

.custom-radio {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  justify-content: start;
  padding: 10px 0px;
  /* background-color: red; */
}

.custom-radio-label {
  /* width: fit-content; */
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  /* justify-content: center; */
  margin: 0px 5px;
  width: 100%;
  /* background-color: plum; */
}

.custom-radio-input {
  display: none;
}

.custom-radio-icon > svg {
  margin-left: 5px;
  margin-top: 6px;
  cursor: pointer;
}

@media (max-width: 740px) {
  .custom-radio  {
    flex-direction: column;
    align-items: center;
  }
}
