@import url("../../core.css");

.custom-checkbox-container {
  text-align: center;
  border: 2px dashed var(--primary-dark-blue);
  border-radius: 9px;
  user-select: none;
  padding: 10px 0px;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-top: 10px;
}
.custom-checkbox-container h3 {
  margin-bottom: 5px;
}
.custom-checkbox {
  display: grid;
  white-space: nowrap;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 5px;
  justify-items: center;
}

.custom-checkbox-label {
  display: flex;
  width: fit-content;
  width: 33%;
}

.custom-checkbox-input {
  display: none;
}

.custom-checkbox-icon {
  margin-right: 5px;
  margin-top: 2px;
}

@media (max-width: 740px) {
  .custom-checkbox {
    grid-template-columns: 1fr;
  }
}
